# Ignore all
*

# Unignoring important project files
!.gitattributes
!.gitignore
!*.ass
!*.txt
!*.srt
!*.xml
!*/

# Fonts
!*.otf
!*.ttf

# SubKt files
!build.gradle.kts
!gradle.properties
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
!gradlew
!gradlew.bat
!settings.gradle.kts
!sub.properties
.gradle/*
build/*

# Ignoring merged .ass files, since we want those to be generated locally always
*Merged.ass
raws/Extras/\[OZR\] Nekomonogatari Black - NCED1a (BD 1080p HEVC Opus) \[4C97538C\]_keyframes.txt
raws/Extras/\[OZR\] Nekomonogatari Black - NCED1b (BD 1080p HEVC Opus) \[7648E125\]_keyframes.txt
raws/Extras/\[OZR\] Nekomonogatari Black - NCOP1 (BD 1080p HEVC Opus) \[2A65203E\]_keyframes.txt
